# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     '%env(POSTGRES_HOST)%'
    env(POSTGRES_HOST): 127.0.0.1
    database_port:     '%env(POSTGRES_PORT)%'
    env(POSTGRES_PORT): 5432
    database_name:     '%env(POSTGRES_DB)%'
    env(POSTGRES_DB): symfony
    database_user:     '%env(POSTGRES_USER)%'
    env(POSTGRES_USER): symfony
    database_password: '%env(POSTGRES_PASSWORD)%'
    env(POSTGRES_PASSWORD): change_me
    database_driver: '%env(DATABASE_DRIVER)%'
    env(DATABASE_DRIVER): pdo_pgsql
    database_version: '%env(DATABASE_VERSION)%'
    env(DATABASE_VERSION): 16
    database_url: '%env(DATABASE_URL)%'
    env(DATABASE_URL): 'postgresql://symfony:change_me@127.0.0.1:5432/symfony'

    samlidp_hostname: '%env(SAMLIDP_HOSTNAME)%'
    env(SAMLIDP_HOSTNAME): idpuni.localhost

    saml_idp_entity_id: '%env(SAML_IDP_ENTITY_ID)%'
    env(SAML_IDP_ENTITY_ID): https://idpuni.localhost/saml2/idp/metadata.php
    saml_idp_sso_url: '%env(SAML_IDP_SSO_URL)%'
    env(SAML_IDP_SSO_URL): https://idpuni.localhost/saml2/idp/SSOService.php
    saml_idp_cert_path: '%env(SAML_IDP_CERT_PATH)%'
    env(SAML_IDP_CERT_PATH): '%kernel.root_dir%/../certs/idp.crt'
    saml_idp_key_path: '%env(SAML_IDP_KEY_PATH)%'
    env(SAML_IDP_KEY_PATH): '%kernel.root_dir%/../certs/idp.key'

    trusted_proxies: ['127.0.0.1', '::1']

    templatebundle_name: '%env(TEMPLATEBUNDLE_NAME)%'
    env(TEMPLATEBUNDLE_NAME): AppBundle

    mailer_transport:  smtp
    mailer_host:       '%env(MAILER_HOST)%'
    env(MAILER_HOST): 127.0.0.1
    mailer_port:       '%env(MAILER_PORT)%'
    env(MAILER_PORT): 25
    mailer_user:       '%env(MAILER_USER)%'
    env(MAILER_USER): user
    mailer_password:   '%env(MAILER_PASSWORD)%'
    env(MAILER_PASSWORD): password
    mailer_encryption: '%env(MAILER_ENCRYPTION)%'
    env(MAILER_ENCRYPTION): tls
    mailer_sender:   '%env(MAILER_SENDER)%'
    env(MAILER_SENDER): norepy@example.org


    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeItttt

    rollbar_access_token: '%env(ROLLBAR_ACCESS_TOKEN)%'
    env(ROLLBAR_ACCESS_TOKEN): faketoken
    rollbar_key:          none

    s3client_key: '%env(S3_KEY)%'
    env(S3_KEY): fakekey
    s3client_secret: '%env(S3_SECRET)%'
    env(S3_SECRET): fakesecret
    s3client_region: '%env(S3_REGIO)%'
    env(S3_REGIO): fakeregio
    s3client_bucket: '%env(S3_BUCKET)%'
    env(S3_BUCKET): fakebucket

    slack_url: '%env(SLACK_URL)%'
    env(SLACK_URL): fakeslackurl

    loggly_access_token: "fake"
